<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="KørselLogDB" connectionString="Server=.\sql2019;Database=KørselLog;Trusted_Connection=True;"
   providerName="System.Data.SqlClient" />
  <add name="TurRetur_KørselsLogbog.Properties.Settings.KørselLogConnectionString"
   connectionString="Data Source=WIN-3755O2PKQ95;Initial Catalog=KørselLog;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>